// override default bootstrap mediaquery with MQ SCSS
// https://github.com/sass-mq/sass-mq

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @include mq($from: $name) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @include mq($until: $name) {
            @content;
        }
    } @else {
        @content;
    }
}