@at-root {
    @-ms-viewport { width: device-width; }
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* susy framework */
@import "../.tools/node_modules/susy/sass/susy";

/* Libs - nemenne knihovny */
@import "./lib/normalize";

/* Základní proměnné a mixiny = Nuclides */
@import "./nuclids/variables";
@import "./nuclids/mixins";
@import "./nuclids/sprite";
@import "./nuclids/sprite-mixin";
@import "./nuclids/mq";

@import "./nuclids/bootstrap/breakpoints";
@import "./nuclids/bootstrap/breakpoints-custom";
@import "./nuclids/bootstrap/grid-framework";
@import "./nuclids/bootstrap/grid";
@import "./nuclids/bootstrap/flex";
@import "./nuclids/bootstrap/visibility";
@import "./nuclids/bootstrap/display";
@import "./nuclids/bootstrap/spacing";
@import "./nuclids/grid";

/* Základní obsahové prvky = Atoms */
@import "./atoms/base-bootstrap";
@import "./atoms/base";
@import "./atoms/buttons";
@import "./atoms/tables";
@import "./atoms/forms";

/* UI komponenty = Molecules */
@import "./molecules/head";
@import "./molecules/nav";
@import "./molecules/foot";

/* Layout = Structures*/
@import "./structures/layout";