body {
    font-family: $font-fallback;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-default;

    .fonts-loaded & {
        font-family: $font-main;
    }
}

input {
    .fonts-loaded & {
        font-family: $font-main;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1 {
}

h2 {
}

h3 {
}

p {
    margin: 0 0 1em 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: ($line-height-base / 2)em;
    ul, ol {
        margin-bottom: 0;
    }
}

a {
    color: $color-default;

    &:hover {
        color: $color-brand;
    }
}

hr {
    margin:50px auto;
    border:0;
    border-top:1px solid $color-border;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}
