.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify !important;
}

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.text-primary {
    color: $color-brand;
}

small, .small {
    font-size: $font-size-sm;
}

.lead {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2;
}

.clearfix {
    @include clearfix;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.align-baseline {
    vertical-align: baseline !important;
}

.align-top {
    vertical-align: top !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

.align-text-bottom {
    vertical-align: text-bottom !important;
}

.align-text-top {
    vertical-align: text-top !important;
}

.text-hide {
    @include text-hide;
}