input[type=text], input[type=email], input[type=password], input[type=tel], input[type=file], textarea, select {
    @include reset-element;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $color-border;
    padding: 0.5em;
    color: #000;

    &::placeholder {
        color: $color-default;
    }
}

input[type=submit] {
    &:hover {
    }
}

input[type="search"] {
    box-sizing: border-box;
    -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    line-height: normal;
}

textarea {
    display: block;
    height: 100px;
}

fieldset, legend {
    @include reset-element;
}

select.blank {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

select.blank::-ms-expand {
    display: none;
}