.container {
    background: susy-svg-grid() no-repeat scroll;
    border: 1px solid blue;
}

.col-md-1 {
    border: 1px solid red;
}

.col-test {
    background: red;
    opacity: 0.5;
}

.col-double {
    width: span(2);
}