/**
 * Vynuluje vnější i vnitřní okraje elementu, zruší orámování a styl seznamu/odrážek
 *
 * @mixin
 */
@mixin reset-element {
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
    border: 0;
    border-radius: 0;
}

/**
 * Skryje textový obsah elementu. Používá se např. při náhradě textu obrázkovým pozadím.
 * Pozor - při transition:all animaci vlastností shazovalo mobilní Safari!
 *
 * @mixin
 */
@mixin text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/**
 * Micro-clearfix dle http://nicolasgallagher.com/micro-clearfix-hack/
 *
 * @mixin
 */
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}