$sprite: map-get($icons, sprite) !default;
$spritePadding: 5;

@function sprite-attr($icon, $attr) {
	$newIcon: map-get($icons, $icon);
	@if $newIcon == null {
		@warn "Can't find an icon with the name #{$icon}";
	}
	@return map-get($newIcon, $attr);
}


@function icon-attr($icon) {
	$attr: (
		width: sprite-attr($icon, width),
		height: sprite-attr($icon, height),
		x: sprite-attr($icon, backgroundX),
		y: sprite-attr($icon, backgroundY)
	);
	@return $attr;
}

/**
 * Mixin pro vložení ikony z vygenerované svg sprite mapy
 *
 * @mixin Sprite
 * @param $icon Název svg souboru s ikonou
 * @param $type Pokud má hodnotu responsive, jsou souřadnice a velikost pozadí generovány v procentech
 * @example
 *  @include sprite(more);
 *  @include sprite(more,bg);
 *  @include sprite(more,responsive);
 */
$spriteVersion: random(100);

@mixin sprite($icon, $type: all) {
	@if $type == all or $type == responsive {
		display: inline-block;
		background-image: url(map-get($sprite, svgPath)+"?v"+$spriteVersion);
		background-size: map-get($sprite, width) map-get($sprite, height);
		background-repeat: no-repeat;
		background-clip: padding-box;
	}

	$iconMap: icon-attr($icon);

	@if $type == all or $type == size {
		width: map-get($iconMap, width);
		height: map-get($iconMap, height);
	}

	@if $type == all or $type == bg {
        background-position: -1 * (map-get($iconMap, x) + $spritePadding) -1 * (map-get($iconMap, y) + $spritePadding);
	}

    @if $type == responsive {
        background-position: percentage((map-get($iconMap, x) + $spritePadding) / (map-get($sprite, width) - map-get($iconMap, width))) percentage((map-get($iconMap, y) + $spritePadding) / (map-get($sprite, height) - map-get($iconMap, height)));
        background-size: percentage(map-get($sprite, width) / map-get($iconMap, width)) percentage(map-get($sprite, height) / map-get($iconMap, height));
        width: 100%;
        height: 0;
        padding-bottom: percentage(map-get($iconMap, height) / map-get($iconMap, width));
    }
}
