/* fonts */
$font-main: 'Roboto', sans-serif;
$font-fallback: Arial, sans-serif;
/*$font-supply:*/


$font-size-sm:   13px;
$font-size-base:    14px;
/*$font-size-md:*/
$font-size-lg:   16px;
/*$font-size-h1:*/


$line-height-base:  1.5;

$color-default:             #333;
$color-brand:               red;
$color-border:              #ccc;

/*
$spacing-sm: 30px;
$spacing-md: 45px;
$spacing-lg: 90px;
*/

/* SUSY layout */
$columns: 12;
$gutter: 1/3;
$container-width: 1140px;

$susy: (
    columns: $columns,
    container: $container-width,
    gutters: $gutter
);

// BOOTSTRAP GRID
$enable-grid-classes:       true !default;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns:               12 !default;
$grid-gutter-width:          30px !default;

// Revert SASS Map - Grid breakpoints => MQ breakpoints conversion
@function mapReverse ($map) {$result: null;@if type-of($map) == "map" {$keys: map-keys($map);$map-reversed: ();@for $i from length($keys) through 1 {$map-reversed: map-merge($map-reversed,(nth($keys, $i): map-get($map, nth($keys, $i))));}@if type-of($map-reversed) == "map" { $result: $map-reversed; }@else { @warn 'There was an error reversing the order of "#{$map}"'; }} @else {@warn '"#{$map}" is not a valid map';}@return $result;}

$mq-breakpoints: mapReverse($grid-breakpoints);
$mq-show-breakpoints: (sm, md, lg, xl);

body:before {display: none;}
body.mqdebug:before {display:block;right:auto !important;top:auto !important;left:0;bottom:0;}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}